<html>
<head>
  <title>Push the damn button</title>
  <link rel="stylesheet" type="text/css" href="css/camera.css">
  <script src="js/jquery-3.1.0.min.js"></script>
  <script src="js/camera.js"></script>
</head>
<body>
  <a id="big-red" class="btn-big-red">Take My Picture!</a>
  <br />
  <br />
  <br />
  <div style="align: center;" id="timer"></div>
  <div id="picture-output"></div>
</body>
</html>
